.location-form
  %a.button.location.search{ :id => "changemap", :alt => "locate me" }
    %i.fa.fa-location-arrow.fa-4{"aria-hidden" => "true"}
  %input.search-field{ :type => :text, :placeholder => "Postal Code" }

  