.row
  .small-3.columns.sidebar
    .header
      %a.brand{ :href => root_path }= image_tag( 'FTLogo.png' )
    .article
      .row
        -#.text
        -#  Games On
        -#.date
        -#  %input{ "data-date-format" => "mm/dd/yy", :type => "text", :value => @date.strftime('%m/%d/%Y') }
          
        #dpMonths.row.collapse.date{"data-date-format" => "mm/yyyy", "data-min-view" => "year", "data-start-view" => "year", :style => "max-width:200px;"}
          .small-2.columns
            %span.prefix
              %i.fa.fa-calendar
              Games On
          .small-10.columns
            %input{:readonly => "readonly", :size => "16", :type => "text", :value => "02/2012"}
      .games 
        %ul.games_list
          - @games.each do |g|
            = render :partial => "partials/game_row", :locals => { :game => g }
    %footer.footer
      %p.muted.credit
        © #{Time.now.year} #{t(:company_name)}
      %p.muted.credit
        For Fans, By Fans  
        
      
  
