.row
  .small-9.medium-5.small-centered.columns.sidebar
    .header
      %a.brand{ :href => root_path }= image_tag( 'FTLogo.png' )
    .article
      .control_row
        .small-4.columns
          %label{ :for => :date_select, :class => 'prefix right inline' }
            Games For :
        .small-6.columns
          %input{:readonly => "readonly", :size => "16", :type => "text", :value => @date.strftime( "%m/%d/%Y"), :id => "date_select"}
      .games 
        = render :partial => "partials/gamelist", :locals => { :games => @games, :modal => false }
    %footer.footer
      %p.muted.credit
        © #{Time.now.year} #{t(:company_name)}
      %p.muted.credit
        For Fans, By Fans  
        
      