#left.col-xs-4
  %h2 Fantogether
  / item list
  .panel.panel-default
    .panel-heading
      %a{:href => ""} Item heading
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
    dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
    Aliquam in felis sit amet augue.
  %hr/
  .panel.panel-default
    .panel-heading
      %a{:href => ""} Item heading
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
    dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
    Aliquam in felis sit amet augue.
  %hr/
  .panel.panel-default
    .panel-heading
      %a{:href => ""} Item heading
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
    dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
    Aliquam in felis sit amet augue.
  %hr/
  .panel.panel-default
    .panel-heading
      %a{:href => ""} Item heading
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
    dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
    Aliquam in felis sit amet augue.
  %hr/
  / /item list
  %p
    %a{:href => "http://www.bootply.com/render/129229"} Demo
    |
    %a{:href => "http://bootply.com/129229"} Source Code
  %hr/
  %p
    %a.center-block.btn.btn-primary{:href => "http://bootply.com", :target => "_ext"} More Bootstrap Snippets on Bootply
  %hr/
