.sidebar
  .header
    %a.brand{ :href => root_path }= image_tag( 'FTLogo.png' )
  .article
    .controls
      .sign_in
        Sign In
      .select_date
        Date Select
      
        
      
  
