<div class="sidebar">
    <header>FanTogether</header>
    <p>There are 12 gaames showing today.  Use the map to find 
        sports bars to watch your favorite game</p>
    <article>
        <controls>
            <button class="show-user-location">show my location</button>
        </controls>
        
    <ol><li><div class="type"><img alt="Silverware" src="/assets/silverware-9d0a4d173d9e135f903fccb2d009de22.svg"></div><div class="info"><h2>east side deli</h2>      <div class="time-graph">        <p style="width:10.000000000000025%"><span>10:00pm</span></p>      </div>    </div><img alt="Right arrow" src="/assets/right-arrow-0d1ba3c494d476ab7d0906cf7e933e26.svg"></li></ol>
    </article>
    <footer><p>© 2016 Fantogether.net</p></footer>
</div>