# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: fe724ad385999ed463491768e95200160818150d383b60831be47a65784e845e31a2c1349107194c9923447bb2dfb74ba12ab7d804bbe3200bd17145fef68593

test:
  secret_key_base: e7330a441f93cb04b9c98056228df84b89fa1a9989574bf905ec9b3e4760e6937e449e53b82784e6f908f722f17512422eeb9f0e863c59984a1681dd9d8127f7

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
