@import "colors";

.footer {
  background-color: $shark;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
  p {
    &.slogan {
      color: $oslo-gray;
      font-size: 1.8rem;
      margin: 0 0 1rem;
    }
    &.copywrite {
      color: $oslo-gray;
      font-size: 0.875rem;
      margin: 0;
    }
  }
  .links a {
    list-style: none;
    font-weight: bold;
    color: $white;
    padding: 3rem 0 2rem;
    margin: 0;
    &::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem;
    }
    &:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
    }
  }
}
