@import "colors";

#map {
    position: fixed;
        top: 0px;
        bottom: 0px;
        width: 100%;
        min-width: 260px;
        cursor: default;
}

#map .leaflet-clickable:hover {
    cursor: pointer
}

#map .leaflet-bar {
    border: none;
    border-radius: 3px
}

#map .leaflet-bar a {
    width: 32px;
    height: 36px
}

#map .leaflet-bar a:last-child {
    border-top: 1px solid $white
}

#map .leaflet-control-zoom-in,
#map .leaflet-control-zoom-out {
    text-indent: 0;
    background-image: none;
    padding: 6px 7px;
    font-size: 22px;
    background-color: $mine-shaft;
    opacity: 1;
    color: #fff
}

#map .leaflet-control-zoom-in:hover,
#map .leaflet-control-zoom-out:hover {
    background-color: $cod-gray
}

#map .leaflet-popup-content-wrapper {
    background-color: $mine-shaft;
    opacity: 1;
    border-radius: 4px;
    color: #fff
}

#map .leaflet-popup-content {
    padding: 6px 6px 5px
}

#map .leaflet-popup-content p {
    margin: 0
}

#map .leaflet-popup-tip {
    border-top-color: $mine-shaft;
}