@import "colors";

.sidebar {
    width: 425px;
    z-index: 1000;
    position: absolute;
    height: 100%;
    left: 1.1%;
    min-width: 195px;
    min-height: 400px;    
    background-color: $shark;
    /*background: url("/assets/header_slice.png") top left repeat-x;
    #background-repeat: repeat;*/
    position: relative;
    margin-left: 25px;
    color: #fff;

   .header{
      background-color: $shark; 
      height: 200px;  
      text-align: center;
    }

    a.brand{
     display: block;
      margin: auto;
      vertical-align: middle;
      padding-top: 50px;   
   }
   .control_row{
    background-color: $shark !important;
    font-size: 17.5px !important;
    text-align: center;
    overflow: hidden;
    height: 75px;
    border: 1px solid white; border-width: 1px 0 1px 0 ;
    padding: 1.00rem 1.9rem;
    color: #fff;
    
    label{
        color: $white;
        font-size: 17.5px !important;
        padding-right:3px;
        
    }
    .text{
        float:left;
        width:50%;
        text-align: center;        
    }
    .date{
        float:right;
        width:50%;
        text-align: center;
        margin-right:20%;
    }
    
    p{
        padding-top:5px;
    }
    
    
   }
}

